apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
- service.yaml
- deployment.yaml
- route.yaml

namespace: hello-pipeline

images:
- name: marcelobruckner/hello
  newName: marcelobruckner/hello
  newTag: c6bf1ed
