apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
- service.yaml
- deployment.yaml

namespace: hello-pipeline

images:
- name: marcelobruckner/hello
  newName: marcelobruckner/hello
  newTag: f0813d8
